.wrapper
  = render 'shared/header'
  %section.item-box-container
    %h1.item-box-container__item-name 
      = @content.title
    .item-main-content.clearfix
      .item-photo
        .item-photo__list
          .item-photo__list__outer
            .item-photo__list__outer-stage__item
              .item-photo__list__outer-stage__item-inner
                = image_tag @content.image.to_s, size: "300x300", class: "big_image"
          .item-photo__list__outer__dots

      %table.item-detail-table
        %tbody
          %tr
            %th 投稿者
            %td
              = link_to "#{@content.user.name}", user_path(@user)
          %tr
            %th 投稿日
            %td
              = @content.created_at.strftime("%Y年%m月%d日")
          %tr.text
            %th 関連タグ
            %td
              = render 'shared/tag_list', tag_list: @content.tag_list
              
      .content-text
        %h3 メモ
        .content-text__frame
          %p
            = @content.text
    .content-left-btn-box
      - if @content.user_id == current_user.id
        = link_to "編集する", edit_group_content_path(@content.group_id,@content.id), class: "content-edit-btn"
      - else
        .no-btn
          投稿者でないため、編集できません
      = link_to "削除する", group_content_path(@content.group_id,@content.id), class: "content-delete-btn", method: :delete
    .content-right-btn-box
      = link_to "トップページに戻る", group_contents_path(@group), class: "content-back-btn"
  = render 'shared/footer'