.navbar-header
  .navber-header__left
    %h1.header-logo 
      = link_to "Memory", group_contents_path(@group)
    %h2.navber-header__left__current-group
      選択中のグループ名 :
      = @group.name
    %ul.navber-header__left__member-list
      メンバー :
      = @users.pluck(:name).join(",")
      %li.navber-header__left__member-list__member
        
  .navber-header__right
    = link_to new_group_content_path do
      .navber-header__right__create-new
        新規投稿する
        = icon('fas', 'plus-circle', class: 'icon')
    %ul.navber-header__right__setting-list
      %li.navber-header__right__setting-list__group-edit
        = link_to group_mypages_path do
          - if @user.image.present?
            = image_tag @user.image.to_s, class: 'image-icon'
          - else
            = image_tag 'https://icooon-mono.com/i/icon_00146/icon_001460_256.png', class: 'image-icon'
          %p マイページ
  .clear