.mypage-side-content
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to group_mypages_path, class: 'mypage-nav__list__item active' do
          マイページ
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to new_group_content_path, class: 'mypage-nav__list__item' do
          投稿する
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to new_group_path, data: { "turbolinks"=> false }, class: 'mypage-nav__list__item' do
          グループ登録
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to edit_group_path(@group), data: { "turbolinks"=> false }, class: 'mypage-nav__list__item' do
          グループ編集
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to groups_path, class: 'mypage-nav__list__item' do
          グループ切替え
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          お知らせ(近日実装予定)
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          招待する(近日実装予定)
          = icon('fas', 'angle-right', class: 'mypage-style-right')

    %h3.mypage-nav__head 設定
    %ul.mypage-nav__list
      %li
        = link_to user_path(@group), class: 'mypage-nav__list__item' do
          プロフィール
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to edit_user_path(current_user), class: 'mypage-nav__list__item' do
          アカウント編集
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to destroy_user_session_path,method: :delete, class: 'mypage-nav__list__item' do
          ログアウト
          = icon('fas', 'angle-right', class: 'mypage-style-right')